---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");

	return projects.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post: projects } = Astro.props;

const { Content } = await render(projects);
const { title, description, customer } = projects.data;

import Layout from "@/layouts/layout.astro";
import { shuffle } from "@/utils/sortCollection";
import { PlayfulDivider } from "../../components/common/PlayfulDivider";
import { OtherProjects } from "../../components/projects/OtherProjects";

const relatedProjects = shuffle(
	await getCollection("projects", ({ id }) => id !== projects.id),
);
---

<Layout className="container">
    <title slot="head">{title} — Moriz von Langa</title>
    <meta slot="head" name="description" content="" />

    <section class="grid gap-16">
        <section>
            <h3>
                {customer}
            </h3>
            <h1 class="mb-10 text-6xl font-bold leading-snug">
                {title}
            </h1>
            <p class="max-w-[60ch] font-light">
                {description}
            </p>
        </section>

        <Content/>

        <section class="grid gap-16">
            <h2 class="text-5xl">More projects you may like</h2>

            <PlayfulDivider client:only="react">
                <hr slot="fallback" class="border-neutral-800" />
            </PlayfulDivider>

            <OtherProjects projects={relatedProjects} />
        </section>
    </section>

</Layout>
