---
import { getCollection, render } from "astro:content";
import { PlayfulDivider } from "@/components/common/PlayfulDivider";
import Prose from "@/components/common/Prose.astro";
import ViewCounter from "../../components/common/ViewCounter.astro";
import Layout from "@/layouts/layout.astro";

export async function getStaticPaths() {
	const isProduction = import.meta.env.PROD;

	const blogPosts = await getCollection("blogPosts", ({ data }) => {
		return isProduction
			? data.draft === undefined || data.draft === false
			: true;
	});

	return blogPosts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;

const { Content } = await render(post);
const { title, description, tags, createdAt } = post.data;
---

<title slot="head">{title} — Moriz von Langa</title>
<meta slot="head" name="description" content={description}/>

<Layout className="container gap-32">
    <article class="max-w-prose mx-auto flex flex-col gap-16">
        <section>
            <h1 class="mb-8 text-3xl font-bold leading-snug">
                {title}
            </h1>
            <p class="mb-4">
                {description}
            </p>
        </section>

        <section class="flex flex-col gap-4">
            <div class="flex flex-wrap justify-between gap-4 text-neutral-500">
                <span>{tags.map((tag) => `#${tag}`).join(", ")}</span>

                <div class="flex flex-wrap gap-4">
                    <ViewCounter server:defer id={post.id} shouldIncrease={true}>
                        <div slot="fallback" class="inline-block h-[1lh] w-[8ch] animate-pulse rounded-lg bg-neutral-900" />
                    </ViewCounter>
                    <p>{createdAt.toLocaleDateString("en-US")}</p>
                </div>
            </div>
            <PlayfulDivider client:only="react">
                <hr slot="fallback" class="border-neutral-800"/>
            </PlayfulDivider>
        </section>

        <Prose>
            <Content/>
        </Prose>
    </article>
</Layout>