---
import {getCollection, render} from "astro:content";

export async function getStaticPaths() {
    const blogPosts = await getCollection("blogPosts");

    return blogPosts.map((post) => ({
        params: {id: post.id},
        props: {post},
    }));
}

const {post} = Astro.props;

const {Content} = await render(post);
const {title, description, tags, createdAt} = post.data;

import Layout from "@/layouts/layout.astro";
import Prose from "@/components/common/Prose.astro";
---

<title slot="head">{title} — Moriz von Langa</title>
<meta slot="head" name="description" content={description}/>

<Layout className="block container">
    <Prose>
        <Content/>
    </Prose>
</Layout>