---
import { render } from "astro:content";
import { ViewCounter } from "@/components/blog/ViewCounter";
import { PlayfulDivider } from "@/components/common/PlayfulDivider";
import Prose from "@/components/common/Prose.astro";
import Layout from "@/layouts/layout.astro";
import { getBlogPosts } from "@/utils/collections";

export async function getStaticPaths() {
	const blogPosts = await getBlogPosts();

	return blogPosts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;

const { Content } = await render(post);
const { title, description, tags, createdAt } = post.data;
---

<title slot="head">{title} — Moriz von Langa</title>
<meta slot="head" name="description" content={description} />

<Layout className="container gap-32">
	<article class="mx-auto flex max-w-prose flex-col gap-16">
		<section>
			<h1 class="mb-8 text-4xl leading-snug font-bold">
				{title}
			</h1>
			<p class="mb-4">
				{description}
			</p>
		</section>

		<section class="flex flex-col gap-4">
			<div class="flex flex-wrap justify-between gap-4 text-neutral-600">
				<span>{tags.map((tag) => `#${tag}`).join(", ")}</span>

				<div class="flex flex-wrap gap-4">
					<ViewCounter client:idle id={post.id} />
					<p>{createdAt.toLocaleDateString("en-US")}</p>
				</div>
			</div>

			<PlayfulDivider client:idle />
		</section>

		<Prose variant="blog">
			<Content />
		</Prose>
	</article>
</Layout>
