---
export const prerender = true;

import { render } from "astro:content";
import VViewCounter from "@/components/blog/VViewCounter.vue";
import Divider from "@/components/common/Divider.astro";
import Prose from "@/components/common/Prose.astro";
import Layout from "@/layouts/layout.astro";
import { getBlogPosts } from "@/utils/collections/utils";

export async function getStaticPaths() {
	const blogPosts = await getBlogPosts();

	return blogPosts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;

const { Content } = await render(post);
const { title, description, tags, createdAt, updatedAt } = post.data;
---

<Layout
	title={`${title} — Moriz von Langa`}
	description={description}
	className="container gap-32">
	<article class="mx-auto flex max-w-prose flex-col gap-16">
		<section>
			<h1 class="mb-8 text-4xl leading-snug font-bold">
				{title}
			</h1>
			<p class="mb-4">
				{description}
			</p>
		</section>

		<section class="flex flex-col gap-4">
			<div class="flex flex-wrap justify-between gap-4 text-neutral-600">
				<span>{tags.map((tag) => `#${tag}`).join(", ")}</span>

				<div class="flex flex-wrap gap-4">
					<VViewCounter client:idle id={post.id} />

					<p>
						<span class={updatedAt ? "line-through" : undefined}>
							{createdAt.toLocaleDateString("en-US")}</span
						>
						{
							updatedAt && (
								<span>
									{` ${updatedAt.toLocaleDateString("en-US")}`}
								</span>
							)
						}
					</p>
				</div>
			</div>

			<Divider />
		</section>

		<Prose>
			<Content />
		</Prose>
	</article>
</Layout>
