---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");

	return projects.map((project) => ({
		params: { projectSlug: project.id },
		props: { project },
	}));
}

const { project } = Astro.props;

const { Content } = await render(project);
const { title, description, customer } = project.data;

import { PlayfulDivider } from "@/components/common/PlayfulDivider";
import { OtherProjects } from "@/components/projects/OtherProjects";
import Layout from "@/layouts/layout.astro";
import { shuffle } from "@/utils/sortCollection";

const relatedProjects = shuffle(
	await getCollection("projects", ({ id }) => id !== project.id),
);
---

<title slot="head">{title} — {customer} — Moriz von Langa</title>
<meta slot="head" name="description" content={description}/>

<Layout className="container gap-32 md:gap-48 lg:gap-64">
    <section class="max-w-prose mx-auto">
        <h3 class="text-xl mb-4 text-neutral-400 light:text-neutral-700">
            {customer}
        </h3>
        <h1 class="mb-8 text-4xl font-bold leading-snug">
            {title}
        </h1>
        <p class="max-w-prose text-lg text-neutral-400 light:text-neutral-700">
            {description}
        </p>
    </section>

    <Content/>

    <section class="grid gap-16">
        <h2 class="text-4xl">More projects you may like</h2>

        <PlayfulDivider client:only="react">
            <hr slot="fallback" class="border-neutral-800"/>
        </PlayfulDivider>

        <OtherProjects client:visible projects={relatedProjects}/>
    </section>
</Layout>
