---
import { Image } from "astro:assets";
import {getCollection} from "astro:content";
import fujitsuCxLabPreviewImage from "../assets/work/fujitsu-cx-lab/fujitsu-cx-lab-thumbnail_01.jpg";
import skodaEnyaqCoupePreviewImage from "../assets/work/skoda-enyaq-coupe/skoda-enyaq-coupe-thumbnail_01.jpg";
import Layout from "../layouts/layout.astro";

const workPages = Object.values(
	import.meta.glob("./work/*.md", { eager: true }),
);

const workItems = [
	{
		title: "Digital World Premiere of the new Škoda Enyaq Coupé",
		customer: "Škoda",
		year: "2022",
		image: skodaEnyaqCoupePreviewImage,
	},
	{
		title:
			"Customer Experience Lab, eine neue virtuelle Co-Creation-Plattform ",
		customer: "Fujitsu",
		year: "2022",
		image: fujitsuCxLabPreviewImage,
	},
	{
		title: "Digital World Premiere of the new Škoda Enyaq Coupé",
		customer: "Škoda",
		year: "2022",
		image: skodaEnyaqCoupePreviewImage,
	},
];

/*const skills = [
    "HTML",
    "JavaScript",
    "TypeScript",
    "Angular",
    "React",
    "SCSS (CSS3)",
    "Tailwind",
    "Node.js,",
    "Symfony (PHP)",
    "Git",
    "Firebase",
    "AWS",
    "Netlify",
    "Adobe XD",
    "After Effects",
    "Photoshop",
];*/

const skills = (await getCollection('skills'));

console.log("aaa: ", skills)

type ResumeEntryType = {
    company: string;
    from: string;
    to?: string;
    role: string;
    tasks: string[];
};

const resumeEntries: ResumeEntryType[] = [
    {
        company: "SENEC",
        from: "2023",
        to: "now",
        role: "Frontend Developer",
        tasks: [
            "Enhancement of an existing Angular application",
            "Migrating / rewriting webapps from Angular to React and embedding them as a micro-frontend",
            "Planning and implementation of the migration/rewrite",
            "Working closely with designers",
            "Further development of the UI component library",
            "Further development of the specialist partners platform",
        ],
    },
    {
        company: "Mohr",
        from: "2022",
        role: "Freelance 3D Designer",
        tasks: [
            'Creation of "Apple like" 3D product rendering animations used in scroll based animations',
        ],
    },
    {
        company: "SCHACHZUG",
        from: "2019",
        to: "2022",
        role: "Technical Director",
        tasks: [
            "Maintenance of existing IT infrastructure (network, storage, firewall, user directory)",
            "Setting up a completely new IT infrastructure (network, storage)",
            "Teamlead IT & Development",
            "ISMS representative & TISAX certification",
            "Coordination of external technical service providers (livestreaming, 3D designers)",
            "Technical customer consulting & presentations",
            "On-site support and installation of trade fair exhibits",
            "Full Stack Development using Angular, Node, PHP, AWS/Firebase",
        ],
    },
    {
        company: "SCHACHZUG",
        from: "2019",
        to: "2022",
        role: "Designer",
        tasks: [
            "Webdesign using Adobe XD",
            "2D/3D motion design",
            "3D Design for Augmented Reality",
            "Instruction in 3D design for our apprentice",
            "Coordination of external service providers (3D designers)",
        ],
    },
    {
        company: "BeBrand / SCHACHZUG",
        from: "2016",
        to: "2019",
        role: "Apprenticeship as media designer digital & print - design & technology",
        tasks: ["Grade of 1,6"],
    },
    {
        company: "Secondary School",
        from: "2016",
        role: "General Certificate of Secondary Education",
        tasks: ["Grade of 2,3"],
    },
];
---

<Layout title="Frontend Developer" description="" className="container flex min-h-[96vh] flex-col justify-center gap-20 py-48">
    <h1 class="mb-10 text-6xl font-bold leading-snug">
        Hi, I’m Moriz.
    </h1>
    <p class="max-w-[60ch] text-3xl font-light">
        Frontend Developer based in Leipzig. On daily routine, I try to ask a
        lot of questions to really build solutions that truly solve the users
        problems.
    </p>

    <section class="relative grid grid-cols-2 gap-10" id="work">
        {
            workItems.map(({title, customer, year, image}) => (
                    <div class="flex flex-col gap-3 justify-center">
                        <span class="text-neutral-400 text-xl">{customer}, {year}</span>
                        <h3 class="text-3xl">{title}</h3>
                    </div>
                    <div class="sticky top-0 flex items-center py-20 h-[90vh]">
                        <Image class="rounded-2xl h-full w-full object-cover" src={image} alt="" />
                    </div>
            ))
        }
    </section>

    <!--
    {workPages.length}
    {workPages.map((work) => <div>
        <a href={work.url}>{work.frontmatter.title}</a>
        <Image src={skodaEnyaqCoupePreviewImage} alt="" />
    </div>)}-->

    <!--<section>
        <h1 class="mb-5 text-6xl font-bold leading-snug">
            Moriz von Langa
        </h1>
        <p class="text-xl max-w-prose leading">
            I'm a front-end developer who enjoys approaching ideas with curiosity and an open mind, while paying attention
            to software architecture. I always keep the user's perspective in mind to create solutions that really solve
            their problems.
        </p>
    </section>-->

    <section id="skills">
        <h2 class="mb-10 text-2xl">Skills</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
            {
                skills.map((skill => <span class="p-6 bg-neutral-900 rounded-2xl">{skill}</span>))
            }
        </div>
    </section>

    <section id="experience">
        <h2 class="mb-10 text-2xl">Experience</h2>
        <div class="flex flex-col gap-14 relative">
            {
                resumeEntries.map(({company, from, to, role, tasks}, index) => (
                                <>
                                    <div class="bg-black grid md:grid-cols-6 gap-5">
                                        <div class="flex flex-col gap-2 md:col-start-1 md:col-end-3">
                                            <h3 class="text-xl">{company}</h3>
                                            <p class="text-neutral-400">
                                                {from}
                                                {to && " - "}
                                                {to}
                                            </p>
                                        </div>
                                        <div class="flex flex-col gap-5 md:col-start-3 md:col-end-7">
                                            <h3 class="font-bold">{role}</h3>
                                            <ul class="flex flex-col gap-2">
                                                {tasks.map((task) => (
                                                        <li class="max-w-prose">
                                                            {task}
                                                        </li>
                                                ))}
                                            </ul>
                                        </div>
                                    </div>
                                    {index !== resumeEntries.length - 1 &&
                                            <hr class="border-neutral-800"/>
                                    }
                                </>
                    )
                )
            }
        </div>
    </section>
</Layout>
