---
import {Image} from "astro:assets";
import {getCollection} from "astro:content";
import {PlayfulDivider} from "../components/PlayfulDivider";
import Layout from "../layouts/layout.astro";

const skills = (await getCollection('skills'))[0].data;
const experiences = (await getCollection('experiences')).sort((a, b) => b.data.from - a.data.from);
const workItems = await getCollection('workItems')
---

<Layout title="Frontend Developer" description=""
        className="container flex min-h-[96vh] flex-col justify-center gap-40 py-48">
    <section>
        <h1 class="mb-10 text-6xl font-bold leading-snug">
            Hi, I’m Moriz.
        </h1>
        <p class="max-w-[60ch] text-3xl font-light">
            Frontend Developer based in Leipzig. On daily routine, I try to ask a
            lot of questions to really build solutions that truly solve the users
            problems.
        </p>
    </section>

    <section class="relative grid grid-cols-1 md:grid-cols-2 gap-10" id="work">
        {
            workItems.map(({id, data: {title, customer, year, cover}}) => (
                    <div class="flex flex-col gap-6 justify-center">
                        <span class="text-neutral-400 text-xl">{customer}, {year}</span>
                        <h3 class="text-4xl">{title}</h3>
                    </div>
                    <a class="sticky top-0 flex items-center py-20 h-svh" href=`work/${id}`>
                        <Image class="rounded-2xl h-full w-full object-cover" src={cover} alt={title}/>
                    </a>
            ))
        }
    </section>

    <section id="skills">
        <h2 class="mb-20 text-3xl">Skills</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
            {
                skills.map((skill => <span class="p-6 bg-neutral-900 rounded-2xl">{skill}</span>))
            }
        </div>
    </section>

    <section id="experience">
        <h2 class="mb-20 text-3xl">Experience</h2>
        <div class="flex flex-col gap-14 relative">
            {
                experiences.map(({data: {company, from, to, role, tasks}}, index) => (
                                <>
                                    <div class="grid md:grid-cols-6 gap-5">
                                        <div class="flex flex-col gap-2 md:col-start-1 md:col-end-3">
                                            <h3 class="text-xl">{company}</h3>
                                            <p class="text-neutral-400">
                                                {from}
                                                {to && " - "}
                                                {to}
                                            </p>
                                        </div>
                                        <div class="flex flex-col gap-5 md:col-start-3 md:col-end-7">
                                            <h3 class="font-bold">{role}</h3>
                                            <ul class="flex flex-col gap-2">
                                                {tasks.map((task) => (
                                                        <li class="max-w-prose">
                                                            {task}
                                                        </li>
                                                ))}
                                            </ul>
                                        </div>
                                    </div>

                                    {index !== experiences.length - 1 &&
                                            <PlayfulDivider client:visible/>
                                    }
                                </>
                    )
                )
            }
        </div>
    </section>
</Layout>
