---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const highlights = await getCollection("highlights");

	return highlights.map((highlight) => ({
		params: { highlightSlug: highlight.id },
		props: { highlight },
	}));
}

const { highlight } = Astro.props;

const { Content } = await render(highlight);
const { title, description, customer } = highlight.data;

import { PlayfulDivider } from "@/components/common/PlayfulDivider";
import { OtherHighlights } from "@/components/highlights/OtherHighlights";
import Layout from "@/layouts/layout.astro";
import { shuffle } from "@/utils/sortCollection";

const relatedHighlights = shuffle(
	await getCollection("highlights", ({ id }) => id !== highlight.id),
);
---

<title slot="head">{title} — {customer} — Moriz von Langa</title>
<meta slot="head" name="description" content={description} />

<Layout className="container gap-32 md:gap-48 lg:gap-64">
	<section class="mx-auto max-w-prose">
		<h3 class="mb-4 text-xl text-neutral-700">
			{customer}
		</h3>
		<h1 class="mb-8 text-4xl leading-snug font-bold">
			{title}
		</h1>
		<p class="max-w-prose text-lg text-neutral-700">
			{description}
		</p>
	</section>

	<Content />

	<section class="grid gap-16">
		<h2 class="text-4xl">More highlights you may like</h2>

		<PlayfulDivider client:idle />

		<OtherHighlights client:visible highlights={relatedHighlights} />
	</section>
</Layout>
