---
import "@/styles.css";

import { clsx } from "clsx";
import { twMerge } from "tailwind-merge";
import Footer from "../components/common/Footer.astro";
import { Header } from "../components/header/Header";

interface Props {
	className?: string;
	footerType?: "regular" | "small";
}

const { className, footerType = "regular" } = Astro.props;
---
<!doctype html>
<html lang="en" class="relative scroll-smooth">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>

    <link rel="sitemap" href="/sitemap-index.xml"/>

    <script is:inline type="application/ld+json"> {
        "@context": "https://schema.org/",
        "@type": "WebPage",
        "name": "Moriz von Langa",
        "mainEntity": {
            "@type": "Person",
            "name": "Moriz von Langa",
            "email": "mailto:morizvlanga@gmail.com",
            "nationality": "German",
            "knowsLanguage": [
                "de-DE",
                "en-US"
            ],
            "jobTitle": "Frontend Developer",
            "worksFor": {
                "@type": "Organization",
                "name": "SENEC",
                "url": "https://senec.com/de"
            },
            "workLocation": "Leipzig",
            "image": "https://mvlanga.com/moriz-von-langa-portrait.webp",
            "url": "https://mvlanga.com"
        }
    } </script>

    <slot name="head"/>

    <meta slot="head" property="og:image" content={`${import.meta.env.SITE}${Astro.url.pathname}/og.png`} />

    <link rel="apple-touch-icon" sizes="180x180"
          href="/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/meta/favicon-16x16.png">
    <link rel="manifest" href="/meta/site.webmanifest">
    <link rel="shortcut icon" href="/meta/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/meta/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <script is:inline defer src="https://cloud.umami.is/script.js" data-website-id="e72a415f-684f-4ff0-bd2c-062e0ef8c366"
            data-domains="mvlanga.com,v2.mvlanga.com" data-do-not-track="true"/>
    
    <style is:global>
        @media not (prefers-reduced-motion) {
            @view-transition {
                navigation: auto;
            }
        }
    </style>
</head>

<body class="bg-black text-white">

<Header client:idle currentPath={Astro.url.pathname}/>

<main class={twMerge(clsx("flex flex-col gap-64 py-48", className))}>
    <slot/>
</main>

<Footer type={footerType} />

</body>
</html>