---
import { ClientRouter } from "astro:transitions";
import HeadFavicon from "../components/HeadFavicon.astro";

import "@/styles.css";

import Footer from "@/components/Footer.astro";
import { Header } from "@/components/Header";

interface Props {
	title: string;
	description: string;
	className: string;
}

const { title, description, className } = Astro.props;
---
<!doctype html>
<html lang="en" transition:name="root" transition:animate="none" class="relative">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    
    <title>{title} - Moriz von Langa</title>
    <meta name="description" content={description}>

    <HeadFavicon />
    <ClientRouter/>

    <script defer src="https://cloud.umami.is/script.js" data-website-id="e72a415f-684f-4ff0-bd2c-062e0ef8c366" />
</head>

<body class="bg-black text-white">

<Header client:idle currentPath={Astro.url.pathname}/>

<main transition:animate="fade" class={className}>
    <slot/>
</main>

<Footer/>

</body>
</html>
